<mat-toolbar color="primary">
  <span>PESSOAS</span>
  <span class="spacer"></span>
</mat-toolbar>


<div class="container mat-elevation-z8">


  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="idPessoa">
      <mat-header-cell *matHeaderCellDef >Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.idPessoa}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nome}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <mat-header-cell *matHeaderCellDef >Cpf</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cpf}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="datanascimento">
      <mat-header-cell *matHeaderCellDef >Data Nascimento</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.datanascimento}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Efuncionario">
      <mat-header-cell *matHeaderCellDef >Funcionário</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Efuncionario}}</mat-cell>
    </ng-container>


    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button type="button" mat-icon-button color="primary" (click)="openAddDialog()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row.idPessoa, row.nome, row.cpf, row.Efuncionario)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button type="button" mat-icon-button color="accent" (click)="deleteItem(i, row.idPessoa, row.nome, row.cpf, row.Efuncionario)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>




  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="totalElements" [pageIndex]="0" (page)="nextPage($event)"> </mat-paginator>
</div>
