<div class="container">
  <h3 mat-dialog-title>Adicionar Pessoa</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea
          matInput
          #input
          class="form-control"
          placeholder="Nome"
          [(ngModel)]="data.nome"
          name="nome"
          required
        ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input
          matInput
          #inputstate
          class="form-control"
          placeholder="Cpf"
          [(ngModel)]="data.cpf"
          name="state"
          required
        />
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput  placeholder="Data Nascimento" [(ngModel)]="data.datanascimento" name="datanascimento" />
      </mat-form-field>
    </div>


    <div mat-dialog-actions>
      <button
        mat-button
        type="button"
        [disabled]="!formControl.valid"
        [mat-dialog-close]="1"
        (click)="confirmAdd()"
      >
        Save
      </button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
