/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgba(0,0,0,.03); }

mat-sidenav-content {
  height: 130%;
  margin: 40px;
}

main {
  /* margin-top: 30px; */
    margin-bottom: 20px;
    margin-left: 46px!important;
    margin-top: 80px!important;
}

@media screen and (max-width: 600px) {
  .sidenav {
    top: 56px!important;
}
}


@media screen and (max-width: 1150px) {
  main {
    width: 89%!important;
}
}
